.popapContainer{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}
.titlePopap{
    margin: 0 0 8px 0;
    display: flex;
}
.closedPopap{
    cursor: pointer;
    color: black;
    font-size: 18px;
    height: 100%;
    margin: 0 0 0 10px;
    background: white;

}