.headerContainer {
    background: #27272A;
    max-width: 1920px;
    width: 100%;
    min-height: 44px;
    border-bottom: 1px solid #414144;;
}

.headerButtons {
    padding: 0px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 27px;
}

.ButtonSquare {
    cursor: pointer;
    min-height: 44px;
    display: flex;
    align-items: center;
    color: #A1A1AA;
    border: none;
    background: none;
}

.ButtonShow {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    min-height: 44px;
}
.popapCreateTodo{
    position: absolute;
    top:50px;
    left: 25px;
    width: 210px;
    height: 150px;
    z-index: 50;
    background: #606060;
    border-radius: 16px;
    padding: 15px;
    text-align: center;
}