.taskContainer{
padding: 15px;
}
.createNewTaskButton{

}
.createNewTaskButton button{
    cursor: pointer;
    background: none;
    border: 1px solid #414144;
    width: 185px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0 0 15px 0;
}
.popapCreateNewTask{
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}