* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbarContent {
    display: flex;
}

.appPage {
    margin: 0 0 0 234px;
    min-height: 100%;
    background: #202124;
    position: fixed;
    width: 100%;
}

@media(max-width: 767px){
    .appPage{

        left: -234px;
    }
}


